.tenders-container {
	padding: 20px;
	background: #ffffff;
}

.tenders-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.tenders-table th {
	color: #767676;
	font-weight: 400;
	height: 30px;
	gap: 0px;
	border: 0px 0px var(--Border-Default);
	opacity: 0px;
}

.tenders-table th,
.tenders-table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.tenders-table tr:hover {
	background-color: #f1f1f1;
}

.error-message {
	color: red;
	margin-bottom: 20px;
}

.pagination-buttons {
	margin-top: 20px;
}

.pagination-buttons button {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 5px;
	border: none;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.pagination-buttons button:disabled {
	background-color: #ddd;
	cursor: not-allowed;
}
