.container-role {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.container-role select {
	width: 7rem;
}

.buyer-container {
	height: 650px;
}

.buyer-form {
	height: 420px;
	display: grid;
	gap: 2rem;
}

.grant-access-option {
	color: red;
}

.textarea {
	height: 5rem;
	resize: none;
}
.description {
	height: 7rem;
}
.grant-access-btn {
	margin-top: 0.5rem;
}
